body{
	background-color: black;
	padding: 10px;
}
#movie-grid{
	text-align: center;
}
img{
	max-width: 100%;
	margin: 10px;
}
a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}